html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

.your-name {
    display: flex;
    padding: .5rem 1rem;
    background-color: cadetblue;
    height: 60px; 
    margin: auto;   
}

.your-name p {
    margin: auto;
    text-align: center;
    font-weight: bolder;
    color: cornsilk;
    font-size: 1.2em;
}

.main-menu li {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main {
    background-color: #e7e7e7;
}

@media (max-width: 767px) {
    .your-name {
        width: 100%;
    }

    .main-menu {
        width: 100%; 
        margin: 0 auto;
        text-align: center;       
    }

    .container {
        max-width: 100%;
        padding: 0;
    }
}

@media (min-width: 768px) {
    .your-name {
        width: 25%;
    }

    .your-name span {
        width: 200px;
    }

    .main-menu {
        width: 75%;
    }
    
    .main-menu ul {
        float: right;
    }

    .main-menu ul li {
        vertical-align: center;
        line-height: 60px;
    }
}